html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}
#about-me {
    margin-bottom: 0; /* Ensures no extra space */
    padding-bottom: 0; /* Adjust if needed */
}